<div class="row section">
    <div class="col s6 offset-s3">
      <nav>
        <div class="nav-wrapper">          
            <div class="input-field">              
              <input id="search" type="search" inputmode="search">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
        </div>        
      </nav>

      <div class="section col offset-s4">
       <button class="center btn waves-effect waves-light red lighten-2" type="submit" name="action" onclick=onBuscar()>Buscar
          <i class="material-icons right">send</i>
        </button>
      </div>

    </div>

    <div id="listaResultado">
    </div>
    
</div>
