<div class="section">
    <div class="row">

        <a href="#/servidores">
            <div class="col s6 m3">
                <div class="card horizontal blue-grey darken-1">
                    <div class="card-image valign-wrapper">
                        <i class="material-icons medium white-text">storage</i>
                    </div>
                    <div class="card-content white-text" style="padding: 0px; padding-left: 10px;">
                        <h6>SERVIDORES</h6>
                        <h5 id="valServidores">0</h5>
                    </div>
                </div>
            </div>
        </a>

        <div class="col s6 m3">
            <a href="#/usuarios">
                <div class="card horizontal blue-grey darken-1">
                    <div class="card-image valign-wrapper">
                        <i class="material-icons medium white-text">face</i>
                    </div>
                    <div class="card-content white-text" style="padding: 0px; padding-left: 10px;">
                        <h6>SESIONES</h6>
                        <h5 id="valSesiones">0</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s6 m3">
            <div class="card horizontal blue-grey darken-1">
                <div class="card-image valign-wrapper">
                    <i class="material-icons medium white-text">apps</i>
                </div>
                <div class="card-content white-text" style="padding: 0px; padding-left: 10px;">
                    <h6>PROCESOS</h6>
                    <h5 id="valProcesos">0</h5>
                </div>
            </div>
        </div>

        <div class="col s6 m3">
            <div class="card horizontal blue-grey darken-1">
                <div class="card-image valign-wrapper">
                    <i class="material-icons medium white-text">memory</i>
                </div>
                <div class="card-content white-text" style="padding: 0px; padding-left: 10px;">
                    <h6>MEMORIA</h6>
                    <h5 id="valMemoria">0</h5>
                </div>
            </div>
        </div>

        <div class="col s6 m3">
            <div class="card horizontal blue-grey darken-1">
                <div class="card-image valign-wrapper">
                    <i class="material-icons medium white-text">developer_board</i>
                </div>
                <div class="card-content white-text" style="padding: 0px; padding-left: 10px;">
                    <h6>MEM. USADA</h6>
                    <h5 id="valMemoriaUsada">0</h5>
                </div>
            </div>
        </div>

        <div class="col s6 m3">
            <div class="card horizontal blue-grey darken-1">
                <div class="card-image valign-wrapper">
                    <i class="material-icons medium white-text">battery_std</i>
                </div>
                <div class="card-content white-text" style="padding: 0px; padding-left: 10px;">
                    <h6>CARGA</h6>
                    <h5 id="valCarga">0</h5>
                </div>
            </div>
        </div>

    </div>
</div>