<ul id="listaServidores" class="collapsible popout">
<!--
  <li>
    <div class="collapsible-header">
      <i class="material-icons">computer</i>
      STS0091
      <span class="new badge blue" data-badge-caption="Sesiones">4</span></div>
    <div class="collapsible-body">
      <table class="highlight">
        <tbody>
          <tr>
            <td>Alvin</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">computer</i>
      STS9001
      <span class="new badge blue" data-badge-caption="Sesiones">4</span></div>
    <div class="collapsible-body"><i class="material-icons left">search</i></div>
  </li>
-->
</ul>
